<template name="index">
<h2>Horse Wal-Mart</h2>
<div class="hero-image"><img src="arabian2.jpg"></div>
<div class="">
	<p>Bacon ipsum dolor amet reprehenderit flank pariatur cillum ullamco dolore cupim. Spare ribs flank proident culpa, tri-tip ea turducken laboris porchetta rump. Sint corned beef tri-tip ham hock in, est cow labore jerky drumstick anim. Kevin ribeye venison, tempor sirloin pork belly short ribs. In fatback swine kevin voluptate. T-bone meatball in ut. Dolore tempor ut consectetur do. <br/>

Cillum velit leberkas bacon spare ribs lorem eiusmod chuck exercitation pancetta in pariatur. Ball tip fatback lorem ham cow pork belly, cupidatat picanha capicola t-bone aute ullamco pastrami. Mollit quis commodo, adipisicing t-bone aliqua sed. Shoulder nostrud tri-tip, nisi andouille commodo ut tail. Shank consequat minim in pastrami. Shankle pork loin ham hock beef biltong short loin ut pork ribeye short ribs boudin in. Pork ea officia, ullamco fatback sirloin ball tip magna meatball alcatra. <br />

Andouille ham ad laboris. Ham cupim officia beef nisi ex ground round sirloin cupidatat chuck shoulder velit. In duis ipsum officia, culpa consectetur ea filet mignon sed corned beef labore. Exercitation spare ribs meatloaf, dolore short ribs pork loin shoulder do boudin strip steak ball tip. Labore anim culpa nostrud dolor eu chicken sed turkey pork boudin id.</p>
</div>
</template>
