<template name='singleHorseEdit'>
	<form name="editHorse">
	<div class="row">
		<div class="col-xs-6 text-right"><label>Name:</label></div>	
		<div class="col-xs-6"><input type="text" name="name" value="{{name}}"  /></div>
	</div>
	<div class="row">	
		<div class="col-xs-6 text-right"><label>Age:</label></div>	
		<div class="col-xs-6"><input type="text" name="age" value="{{age}}"  /></div>
	</div>
	<div class="row">	
		<div class="col-xs-6 text-right"><label>Gender:</label></div>
		<div class="col-xs-6"><input type="text" name="gender" value="{{gender}}"  /></div>
	</div>
	<div class="row">	
		<div class="col-xs-6 text-right"><label>Weight:</label></div>
		<div class="col-xs-6"><input type="text" name="weight" value="{{weight}}"  /></div>
	</div>
	<div class="row">	
		<div class="col-xs-6 text-right"><label>Breed:</label></div>
		<div class="col-xs-6"><input type="text" name="breed" value="{{breed}}"  /></div>
	</div>
	<div class="row">	
		<div class="col-xs-6 text-right"><label>Discipline:</label></div>
		<div class="col-xs-6">
			<select>
				<option value ="{{discipline}}"></option>
				<option class="" name="" value="">Park/English Pleasure</option>
				<option class="" name="" value="">Country English Pleasure</option>
				<option class="" name="" value="">Hunter Pleasure</option>
				<option class="" name="" value="">Western Pleasure</option>
				<option class="" name="" value="">Working Western</option>
				<option class="" name="" value="">Specialty</option>
				<option class="" name="" value="">Halter</option>
				<option class="" name="" value="">Working Hunter/Jumper</option>
				<option class="" name="" value="">Leisure</option>
			</select></div>
	</div>
	<div class="row">	
		<div class="col-xs-6 text-right"><label>Price:</label></div>
		<div class="col-xs-6"><input type="integer" name="price" value="{{price}}"  /></div>
	</div>
	<div class="row">	
		<div class="col-xs-6 text-right"><label>Description:</label></div>
		<div class="col-xs-6"><textarea name="description" value="{{description}}"></textarea></div>
	</div> <br />
	<div class="row">	
		<div class="col-xs-12 text-center"><input type="submit" value="Update" class="btn btn-primary"/></div>
	</div>	
</form>
</template>
