<template name="profile">
<h1>User Page</h1>

	<form class="profile">
		<input type="text" placeholder="First Name" class="firstName" value="{{firstName}}" />
		<input type="text" placeholder="Last Name" class="lastName" value="{{lastName}}" />
		<input type="text" placeholder="Barn" class="barn" value="{{barn}}" />
		<input type="text" placeholder="City" class="city" value="{{city}}" />
		<input type="text" placeholder="State" class="state" value="{{state}}" />
		<input type="text" placeholder="phone" class="" value="{{phone}}" />
		<input type="text" placeholder="email" class="" value="{{email}}" />
		<input type="submit" value="Create Account" class="btn btn-primary"/>
	</form>
</template>
