<template name="newHorse">
<form name="newHorse">
	<div class=""><label>Name:</label></div>	
	<div class=""><input type="text" name="name" value=""  /></div>
	<div class=""><label>Age:</label></div>	
	<div class=""><input type="text" name="age" value=""  /></div>
	<div class=""><label>Gender:</label></div>
	<div class=""><input type="text" name="gender" value=""  /></div>
	<div class=""><label>Weight:</label></div>
	<div class=""><input type="text" name="weight" value=""  /></div>
	<div class=""><label>Breed:</label></div>
	<div class=""><input type="text" name="breed" value=""  /></div>
	<div class=""><label>Discipline:</label></div>
	<div class=""><input type="text" name="discipline" value=""  /></div>
	<div class=""><label>Price:</label></div>
	<div class=""><input type="integer" name="price" value=""  /></div>
	<div class=""><label>Description:</label></div>
	<div class=""><textarea name="description" value=""></textarea></div>
	<div class=""><input type="submit" value="Submit" class="btn btn-primary"/></div>
</form>

	<div><input type="file" class="myFileInput" /></div>
</template>
