<template name="newHorse">

<h1 class="text-center">Step 1</h1>
<h4 class="text-center">Start by adding some information about your horse.</h4><br />

<form name="newHorse">
	<div class="row">
		<div class="col-xs-3 text-right"><label>Name:</label></div>	
		<div class="col-xs-5"><input class="input-lg" type="text" name="name" value=""  /></div>
	</div>
	<div class="row">	
		<div class="col-xs-3 text-right"><label>Age:</label></div>	
		<div class="col-xs-5"><input class="input-lg" type="text" name="age" value=""  /></div>
	</div>
	<div class="row">	
		<div class="col-xs-3 text-right"><label>Gender:</label></div>
		<div class="col-xs-5"><input class="input-lg" type="text" name="gender" value=""  /></div>
	</div>
	<div class="row">	
		<div class="col-xs-3 text-right"><label>Breed:</label></div>
		<div class="col-xs-5"><input class="input-lg" type="text" name="breed" value=""  /></div>
	</div>
	<div class="row">	
		<div class="col-xs-3 text-right"><label>Discipline:</label></div>
		<div class="col-xs-5">
			<select id="selectDropdown" name="discipline" class="input-lg">
				<option></option>
				<option class="" name="" value="Park/English Pleasure">Park/English Pleasure</option>
				<option class="" name="" value="Country English Pleasure">Country English Pleasure</option>
				<option class="" name="" value="Hunter Pleasure">Hunter Pleasure</option>
				<option class="" name="" value="Western Pleasure">Western Pleasure</option>
				<option class="" name="" value="Working Western">Working Western</option>
				<option class="" name="" value="Specialty">Specialty</option>
				<option class="" name="" value="Halter">Halter</option>
				<option class="" name="" value="Working Hunter/Jumper">Working Hunter/Jumper</option>
				<option class="" name="" value="Leisure">Leisure</option>
			</select></div>
	</div>
	<div class="row">	
		<div class="col-xs-3 text-right"><label>Price:</label></div>
		<div class="col-xs-5"><input class="input-lg" type="integer" name="price" value=""  /></div>
	</div>
	<div class="row">
		<div class="col-xs-3 text-right"><label>Hide Price?</label></div>	
		<div class="col-xs-8"><input class="input-lg" type="checkbox" name="priceCheck" value="true"  ><span class="text-right">(If checked, price will not display) </span></div>
		<p>Any price over $25,000 will be hidden automatically.</p>
	</div>
	<div class="row">	
		<div class="col-xs-3 text-right"><label>Description:</label></div>
		<div class="col-xs-8"><textarea class="col-xs-12" name="description" value=""></textarea></div>
	</div> <br />
	<div class="row">	
		<div class="col-xs-12 text-center"><input type="submit" value="Submit" class="btn btn-primary"/></div>
	</div>	
</form>
</template>

